            </div>
        <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
        <!-- Scripts -->

        <!-- If the value "default" is passed into the param then we will first
             load the standard js files associated with the theme -->
        {{ if or (in .Site.Params.customJS "default") (not .Site.Params.customJS) }}
            <script src="{{ "/js/jquery.min.js" | relURL }}"></script>
            <script src="{{ "/js/skel.min.js" | relURL }}"></script>
            <script src="{{ "/js/util.js" | relURL }}"></script>
            <script src="{{ "/js/main.js" | relURL }}"></script>
            <script src="{{ "/js/backToTop.js" | relURL }}"></script>
            <script src="{{ "/js/highlight.pack.js" | relURL }}"></script>
        {{ end }}

        {{ range .Site.Params.customJS }}
            {{ if ne . "default" }}
                <script src="{{ . | relURL }}"></script>
            {{ end }}
        {{ end }}

        <!-- This is called by default since this theme uses highlight.js -->
        <script>hljs.initHighlightingOnLoad();</script>
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    </body>
</html>
